/* Základné štýly */
* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Header */
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fce0a8;
    padding: 10px 50px;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

.head_ovocko {
    font-size: 32px;
    font-family: "Open Sans", sans-serif;
}

.head_menu {
    display: flex;
}

.head_menu_list {
    display: flex;
    gap: 30px;
    align-items: center;
}

.link {
    color: black;
    font-size: 20px;
}

/* Skryť tlačidlo na veľkých obrazovkách */
.menu-toggle {
    display: none;
}

/* Header koniec */




/* main sekcia */
.hero_01 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    flex-wrap: wrap;
    gap: 20px;
}

/* Gule v pozadí - nastavené z-index na -1 pre všetky gule */
.hero_01 .ball {
    position: absolute;
    border-radius: 50%;
    z-index: -1;  /* Všetky gule sú v pozadí (nízky z-index) */
}

/* Najmenšie gule */
.hero_01 .ball-small {
    width: 50px;
    height: 50px;
}

/* Stredné gule  */
.hero_01 .ball-medium {
    width: 100px;
    height: 100px;
}

/* Najväčšie gule  */
.hero_01 .ball-large {
    width: 200px;
    height: 200px;
}

/* Farby pre gule */
.ball-farba1 {
    background-color: #fce0a8;
}

.ball-farba2 {
    background-color: #ffd067;
}

.ball-farba3 {
    background-color: #d6a543;
}

/* Umiestnenie gúľ */
.ball1 {
    top: 2%;
    left: 3%;
}

.ball2 {
    top: 63%;
    left: 42%;
}

.ball3 {
    top: 90%;
    left: 82%;
}

.ball4 {
    top: 13%;
    left: 43%;
}

.ball5 {
    top: 34%;
    left: 87%;
}

.ball6 {
    top: -2%;
    left: 76%;
    clip-path: inset(14px 0 0 0);
}

.ball7 {
    top: 76%;
    left: 34%;
    clip-path: inset(0 0 34px 0);
}

.ball8 {
    top: 45%;
    left: 53%;
}

.ball9 {
    top: 33%;
    left: -2%;
}

/* Ďalšie štýly pre hero sekciu */
.hero_01_left {
    flex: 1;
    max-width: 800px;
    margin-left: 70px;
}

.hero_01_right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.hero_01_right_image {
    max-height: 600px;
    width: auto;
}

.hero_01_left_image {
    max-height: 250px;
    width: auto;
}

.hero_01_left_heading {
    font-size: 90px;
    font-weight: 600;
    padding-bottom: 20px;
}

.hero_01_left_text {
    font-size: 24px;
    padding-bottom: 15px;
}

.hero_01_left_button {
    font-size: 20px;
    font-weight: 500;
    border-radius: 100px;
    width: 600px;
    padding: 10px;
    background-color: #ffd067;
    border: 2px solid black;
    cursor: pointer;
}
/*main koniec*/





/*hero2*/
.hero2{
    position: relative;
}

.hero2_head {
    text-align: center;
    padding-top: 20px;
}

.hero2_head_heading { 
    font-size: 60px;
    font-family: "League Spartan", sans-serif;
}

.hero2_head_text {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 20px;
}

.hero2_main_box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: fit-content;
    padding-bottom: 20px;
}

.hero2_box{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero2_box_1{
    width: 400px;
    margin: 10px 0px 20px 0px;
    border: 7px solid black;
    border-radius: 10%;
}

.hero2_box_heading {
    font-family: "League Spartan", sans-serif;
    font-size: 50px;
}

.hero2_box_text{
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.hero2_box_1_image{
    height: 400px;
    width: 400px;
    padding-bottom: 7px;
}

.background{
    position: absolute;
    background-color: #fce0a8;
    position: absolute;
    bottom: 0; /* Zarovná na spodok */
    height: 50%; /* Pokryje spodnú polovicu */
    width: 100%; /* Rozšíri na celú šírku */
    z-index: -2;
}
/* hero2 koniec  */

/* hero3  */

.hero3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 150px 50px 150px;
    gap: 20px;
    position: relative;
}

.hero3_box{
    width: 400px;
    margin: 10px 0px 20px 0px;
    border: 7px solid black;
    border-radius: 10%;
}

.hero3_box_image {
    height: 400px;
    width: 400px;
    padding-bottom: 7px;
}

.hero3_main_left, .hero3_main_right {
    flex: 1;
}

.hero3_main_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 520px;
}

.hero3_heading_right {
    font-size: 54px;
    font-family: "League Spartan", sans-serif;
    text-align: center;
    padding-bottom: 30px;
}

.hero3_text_right {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    text-align: right;
}

.hero3_longtext_right {
    font-size: 26px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding-bottom: 30px
}

.hero3_button_right {
    font-size: 18px;
    padding: 10px 20px;
    border: 3px solid black;
    background-color: #ffd067;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
}


.ball10 {
    height: 200px;
    width: 200px;
    background-color: #d6a543;
    position: absolute;
    top: -6%;
    left: -6%;
    z-index: -1;
    border-radius: 50%;
    clip-path: inset(36px 0 0 86px);
}

.ball11 {
    height: 150px;
    width: 150px;
    background-color: #fce0a8;
    position: absolute;
    top: 8%;
    left: 85%;
    z-index: -1;
    border-radius: 50%;
}

.hero3_button_right {
}

.ball12 {
    height: 100px;
    width: 100px;
    background-color: #ffd067;
    position: absolute;
    top: 75%;
    left: -4%;
    z-index: -1;
    border-radius: 50%;
    clip-path: inset(0 0 0 58px);
}