/* Základné štýly */
* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Header */
/* Header */
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fce0a8;
    padding: 10px 50px;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    z-index: 2; /* Uistíme sa, že header je nad všetkým */
}

.head_ovocko {
    font-size: 32px;
    font-family: "Open Sans", sans-serif;
}

.head_menu {
    display: flex;
}

/* Skryť menu na malých obrazovkách */
.head_menu_list {
    display: flex;
    gap: 30px;
    align-items: center;
}

.link {
    color: black;
    font-size: 20px;
}

/* Skryť tlačidlo na veľkých obrazovkách */
.menu-toggle {
    display: none;
}
/* Header koniec */




/* main sekcia */
.hero_01 {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
    flex-wrap: wrap;
    gap: 20px;
}

/* Gule v pozadí - nastavené z-index na -1 pre všetky gule */
.hero_01 .ball {
    position: absolute;
    border-radius: 50%;
    z-index: -1;  /* Všetky gule sú v pozadí (nízky z-index) */
}

/* Najmenšie gule */
.hero_01 .ball-small {
    width: 50px;
    height: 50px;
}

/* Stredné gule  */
.hero_01 .ball-medium {
    width: 100px;
    height: 100px;
}

/* Najväčšie gule  */
.hero_01 .ball-large {
    width: 200px;
    height: 200px;
}

/* Farby pre gule */
.ball-farba1 {
    background-color: #fce0a8;
}

.ball-farba2 {
    background-color: #ffd067;
}

.ball-farba3 {
    background-color: #d6a543;
}

/* Umiestnenie gúľ */
.ball1 {
    top: 2%;
    left: 3%;
}

.ball2 {
    top: 63%;
    left: 42%;
}

.ball3 {
    top: 90%;
    left: 82%;
}

.ball4 {
    top: 13%;
    left: 43%;
}

.ball5 {
    top: 34%;
    left: 87%;
}

.ball6 {
    top: -2%;
    left: 76%;
    clip-path: inset(14px 0 0 0);
}

.ball7 {
    top: 76%;
    left: 34%;
    clip-path: inset(0 0 34px 0);
}

.ball8 {
    top: 45%;
    left: 53%;
}

.ball9 {
    top: 33%;
    left: -2%;
}

/* Ďalšie štýly pre hero sekciu */
.hero_01_left {
    flex: 1;
    max-width: 800px;
    margin-left: 70px;
}

.hero_01_right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.hero_01_right_image {
    max-height: 600px;
    width: auto;
}

.hero_01_left_image {
    max-height: 250px;
    width: auto;
}

.hero_01_left_heading {
    font-size: 90px;
    font-weight: 600;
    padding-bottom: 20px;
}

.hero_01_left_text {
    font-size: 24px;
    padding-bottom: 15px;
}

.hero_01_left_button {
    font-size: 20px;
    font-weight: 500;
    border-radius: 100px;
    width: 600px;
    padding: 10px;
    background-color: #ffd067;
    border: 2px solid black;
    cursor: pointer;
}
/*main koniec*/





/*hero2*/
.hero2{
    position: relative;
}

.hero2_head {
    text-align: center;
    padding-top: 20px;
}

.hero2_head_heading { 
    font-size: 60px;
    font-family: "League Spartan", sans-serif;
}

.hero2_head_text {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 20px;
}

.hero2_main_box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    height: fit-content;
    padding-bottom: 20px;
}

.hero2_box{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero2_box_1{
    width: 400px;
    margin: 10px 0px 20px 0px;
    border: 7px solid black;
    border-radius: 10%;
}

.hero2_box_heading {
    font-family: "League Spartan", sans-serif;
    font-size: 50px;
}

.hero2_box_text{
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.hero2_box_1_image{
    height: 400px;
    width: 400px;
    padding-bottom: 7px;
}

.background{
    position: absolute;
    background-color: #fce0a8;
    position: absolute;
    bottom: 0; /* Zarovná na spodok */
    height: 50%; /* Pokryje spodnú polovicu */
    width: 100%; /* Rozšíri na celú šírku */
    z-index: -2;
}
/* hero2 koniec  */

/* hero3  */

.hero3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 150px 50px 150px;
    gap: 20px;
    position: relative;
}

.hero3_box{
    width: 400px;
    margin: 10px 0px 20px 0px;
    border: 7px solid black;
    border-radius: 10%;
}

.hero3_box_image {
    height: 400px;
    width: 400px;
    padding-bottom: 7px;
}

.hero3_main_left, .hero3_main_right {
    flex: 1;
}

.hero3_main_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 520px;
}

.hero3_heading_right {
    font-size: 54px;
    font-family: "League Spartan", sans-serif;
    text-align: center;
    padding-bottom: 30px;
}

.hero3_text_right {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    text-align: right;
}

.hero3_longtext_right {
    font-size: 26px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding-bottom: 30px
}

.hero3_button_right {
    font-size: 18px;
    padding: 10px 20px;
    border: 3px solid black;
    background-color: #ffd067;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
}


.ball10 {
    height: 200px;
    width: 200px;
    background-color: #d6a543;
    position: absolute;
    top: -6%;
    left: -6%;
    z-index: -1;
    border-radius: 50%;
    clip-path: inset(36px 0 0 86px);
}

.ball11 {
    height: 150px;
    width: 150px;
    background-color: #fce0a8;
    position: absolute;
    top: 8%;
    left: 85%;
    z-index: -1;
    border-radius: 50%;
}

.hero3_button_right {
}

.ball12 {
    height: 100px;
    width: 100px;
    background-color: #ffd067;
    position: absolute;
    top: 75%;
    left: -4%;
    z-index: -1;
    border-radius: 50%;
    clip-path: inset(0 0 0 58px);
}


/* hero3  koniec */

/* hero4  */

.hero4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #fce0a8;
    padding: 50px;
}

.hero4_heading {
    font-family: "League Spartan", sans-serif;
    font-size: 50px;
}

.hero4_text_div {
    max-width: 810px;
}

.hero4_text {
    font-size: 22px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding-bottom: 5px;
}

/* hero4  koniec */

/* hero5 */

.hero5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.hero5_left_div_image {
    border-left: 3px solid black;
    border-right: 3px solid black;
    padding:30px 25px 20px 25px;
    margin-left: 40px;

}

.hero5_left_image {
    height: 350px;
    width: auto;
    border: 5px solid black;
}

.hero5_svgs_left {
    display: flex;
    justify-content: space-between;
}

.hero5_svgs_left1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.svgs_1 {
    height: 60px;
    width: auto;
    padding: 0px;
    margin: 0px;
}

.svgs_2 {
    height: 75px;
    width: auto;
}

.share_icon {
    height: 75px;
    width: auto;
}

.hero5_right {
    margin: 30px auto;
}

.hero5_right_div {
    display: flex;
    flex-direction: column;
    gap: 60px;
    max-width: 650px;
}


.hero5_right_instagram {
    height: 90px;
    width: auto;
}

.hero5_right_instagram_div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 640px;
}


.hero5_right_heading {
    text-align: center;
    font-family: "League Spartan", sans-serif;
    font-size: 48px;
}

.hero5_right_instagram_text {
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
}


.hero5_right_text {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 100;
}

.ball13 {
    height: 200px;
    width: 200px;
    background-color: #fce0a8;
    position: absolute;
    top: 50%;
    left: -10%;
    z-index: -1;
    border-radius: 50%;
    clip-path: inset(0 0 0 120px);
}

.ball14 {
    height: 150px;
    width: 150px;
    background-color: #fce0a8;
    position: absolute;
    top: 68%;
    left: 90%;
    z-index: -1;
    border-radius: 50%;
    clip-path: inset(0 7px 0 0);

}

.ball15 {
    height: 130px;
    width: 130px;
    background-color: #ffd067;
    position: absolute;
    top: 11%;
    left: 77%;
    z-index: -1;
    border-radius: 50%;
}

.ball16 {
    height: 200px;
    width: 200px;
    background-color: #d6a543;
    position: absolute;
    top: 55%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
}

.ball17 {
    height: 160px;
    width: 160px;
    background-color: #d6a543;
    position: absolute;
    top: 4%;
    left: 26%;
    z-index: -1;
    border-radius: 50%;
}

/* hero5 koniec */

/* hero6*/

.hero6 {
    display: flex;
    justify-content: space-between; /* Rovnomerné rozloženie medzi sekciami */
    align-items: center; /* Vertikálne zarovnanie obsahu */
    padding: 100px 60px; /* Priestor od okrajov */
    gap: 60px; /* Medzera medzi textovým blokom a obrázkom */
}

.hero6_left {
    text-align: center;
    flex: 1; /* Prispôsobenie veľkosti */
}

.hero6_right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /* Prispôsobenie veľkosti */
}

.hero6_right_image {
    max-height: 300px; /* Prispôsobenie výšky obrázka */
    width: auto; /* Zachovanie pomeru strán */
    object-fit: contain; /* Zabezpečenie dobrého prispôsobenia obrázka */
}

.hero6_left_heading {
    font-size: 50px;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 40px; /* Priestor pod nadpisom */
}

.hero6_left_text {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 100;
    padding-bottom: 40px; /* Priestor pod textom */
}

.hero6_left_CTA {
    font-size: 24px;
    font-weight: 500;
    border-radius: 100px; /* Zaoblené rohy */
    width: 400px; /* Šírka tlačidla */
    padding: 10px; /* Vnútorné odsadenie tlačidla */
    background-color: #d6a543; /* Farba tlačidla */
    cursor: pointer;
}

/* hero6 koniec */

/* footer */
.footer {
    background-color: #fce0a8;
    padding: 20px 20px;
    text-align: center;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Aby bol obsah responzívny */
    max-width: 1200px;
    margin: 0 auto;
}

.footer_one,
.footer_three {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: 400;
    margin: 0;
    padding: 10px;
}

.footer_social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer_instagram {
    height: 38px;
    width: auto;
}

.footer_instagram_text {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: 400;
    margin: 0;
    color: #333;
}


/* Štýly pre malé obrazovky */
@media (max-width: 480px) {
    .menu-toggle {
        display: block;
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
        position: absolute; /* Pozicionovanie hamburgeru */
        right: 20px; /* Vzdialenosť od pravej strany */
        top: 20px; /* Vzdialenosť od hornej časti */
        z-index: 1000; /* Zabezpečí, že menu bude nad inými elementami */
        
    }

    .head_menu {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fce0a8;
        padding: 10px;
        position: absolute;
        top: 7%; /* Menu bude zobrazené pod headerom */
        left: 0;
        width: 100%;
        z-index: 1; /* Aby bolo menu nad ostatným obsahom */
        border-top: 2px solid black;
    }

    .head_menu.active {
        display: flex;
        z-index: 1; /* Aby bolo menu nad ostatným obsahom */
    }

    .head_menu_list {
        flex-direction: column;
        gap: 15px;
    }

    .link {
        font-size: 18px;
    }

    .hero_01 {
        z-index: 0; /* Aby obsah nebol pod menu */
    }
    
    /* Gule v pozadí - nastavené z-index na -1 pre všetky gule */
    .hero_01 .ball {
        z-index: -1;  /* Všetky gule sú v pozadí (nízky z-index) */
    }




    .hero_01_left_image{
        height: 200px;
        width: auto;
    }




    .hero2, .hero3, .hero4, .hero5, .hero6, .footer{
        display: none;
    }
}
